.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
}

.left-nav {

  > ul {
    > li {
      margin: 10px;
    }
  }

  span {

  }
}

.right-nav {

  > ul {
    > #subscribe-now, #log-in {
      margin: 10px;
      padding: 10px;
      background-color: green;
      border-radius: 5px;
      color: white;
      font-weight: bold;
    }

    > li:last-of-type {
      margin: 10px;
      padding: 10px;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
