<form action="<%=cats_url%>" method="POST">
    <label>Name:
        <input type="text" name="@cat.name">
        <input type="radio" name="sex" value="M">
        <label for="M">M</label>
        <input type="radio" name="sex" value="F">
        <label for="F">F</label>
        
    </label>
</form>