<form action="<%=cats_url%>" method="POST">
    <label>Name:</label>
    <input type="text" name="@cat.name">
    <br>
    <br>
        
        <input type="radio" name="sex" value="M">
        <label for="M">M</label>
        <input type="radio" name="sex" value="F">
        <label for="F">F</label>
    
    <br>

    <br>
    <label for="color">Choose A Color</label>
    <%= select_tag(:color, options_for_select(COLORS)) %> 
    <br>

    <label>Enter a Birth
        <input type="date" max="<%= DateTime.now.to_s[0..9] %>">
    </label>

    <br>

    <label>Description
        <textarea cols="20" rows=="10">   </textarea> 

    </label>
        
    
</form>