<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<button id="subscribe-now">
				<span>SUBSCRIBE NOW</span>
			</button>
			<button id="log-in">
				<span>LOG IN</span>
			</button>
			<li>
				<i class="fas fa-cog"></i>
			</li>
		</ul>
	</nav>
</header>