body {
    text-align: center;
}

.tile {
    // display: inline-block;
    height: 20px;
    width: 20px;

    // font-size: 4px;

    margin: 0;

    position: relative;
    
    border-style: outset;
    padding: 5px;
    /* margin: -1px; */
    background-color: lightgray;
}

.row {
    /* width: 500px; */
    display: flex;
    position: relative;
}

.explored {
    border-style: inset;
}
